body{
  font-family: futura;
  background-color: #E4FDE1;
  color: rgba(106, 150, 115, 0.767);
  margin: 20px auto;
  width: 90%;
  text-align: center;
}

header{
  color: rgb(106, 150, 115);
  font-size: xx-large;
  margin: 10px;
}

h3{
  font-size: larger;
  color: #648381c5;
  margin:10px;
}

img{
  max-height: 200px;
  margin: 20px;
  margin-bottom: 20px;
}

.items{
  margin-bottom: 35px;
  text-transform: capitalize;
}

.items li{
  display: inline;
  margin:25px;
}

section{
  text-align: center;
}

table{
  margin: auto;
  text-transform: capitalize;

}

table td{
  padding: 5px;
}

